body {
  background-image: url("https://wallpaper.dog/large/10777778.jpg");
  color: white;
  padding-top: 50px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  h1, #paragraph {
    display: none;
  }
}
#particles-js
          {
              width:100%;
              height:100%;
              position: absolute;
              background-image: none;
          }
h1 {
  font-size: 4em;
  line-height: 70px;
  margin-bottom: 40px;
  font-weight: bold;
}

nav {

  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out; /* Smooth transition for link color */
}

nav ul li a:hover {
  color: #555; /* Change link color on hover */
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
  transition: color 0.8s;
}

/* dark-theme.css */
.swal2-popup {
  background: rgba( 0, 0, 0, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  color: #eeeef3;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: background 0.8s, color 0.8s;
  line-height: 30px;
  margin-top: 30px;
}

.swal2-title {
  color: #fff;
}

.swal2-content {
  color: #fff;
}

.swal2-icon {
  color: #fff;
}

.swal2-cancel {
  color: #fff;
  background-color: #555;
}
.swal2-popup .swal2-confirm {
  background: rgba(0, 0, 0, 0.536);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 15px;
  color: #eeeef3;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: background 0.8s, color 0.8s;
  line-height: 30px;
  padding: 5px 15px;
  
}

.swal2-popup .swal2-confirm:hover {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 25px;
  color: #000000;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: background 0.8s, color 0.8s;
  line-height: 30px;
}

.swal2-cancel:hover {
  background-color: #777;
}

.main-color {
  color: #eeeef3;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

#quote-box {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 100px 40px;
  position: relative;
  margin-top: 20px;
}

#quote-left, #quote-right {
  color: #ffffffe9;
  font-size: 2em;
  position: absolute;
}

#quote-left {
  top: 30px;
  left: 30px;
}

#quote-right {
  bottom: 30px;
  right: 30px;
}

#facebook {
  color: #ffffffe9;
  font-size: 1.5em;
  position: absolute;
}

#tiktok {
  color: #ffffffe9;
  font-size: 1.5em;
  position: absolute;
}

#quote {
  font-size: 1.5em;
  text-align: center;
}

#author {
  position: absolute;
  font-size: 1.1em;
  left: 50px;
  bottom: 30px;
}

.btn {
  background: rgba( 0, 0, 0, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  color: #eeeef3;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: background 0.8s, color 0.8s;
  line-height: 30px;
  margin-top: 30px;
}

.btn:hover, .btn:active, .btn:focus {
  color: white !important;
  background-color: #181717 !important;
  box-shadow: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  float: right;
  white-space: nowrap;
  overflow: hidden;
}

li {
  display: inline-block;
  margin: 0 0 0 1px;
}

#hidden {
  display: none;
}
.loading-icon {
  display: none;
  margin-left: 5px;
}

/* Add loading spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-icon:before {
  content: '';
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}
#copy-button {
  font-size: large;
  background-color: #181717;
  color: aliceblue;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateX(-50%);
  padding: 5px 10px;
  border: 1px solid rgb(68, 68, 68); /* Thin white border */
  cursor: pointer;
  border-radius: 5px;
}
#copy-button:hover {
  color: rgb(164, 251, 173);
}
